= content_for :title, "MeuteWiki"
= form_for :wiki_page,
    :url => { :controller => :meutewiki, :action => "update", :name => @wiki_page.name },
    :html => {}, :remote => true do |f|
  #page_content.preview
    = f.text_area :raw_data
    #preview_area
      - if @button == t("Preview")
        %h6= t "Preview"
        %hr
        = @wiki_page.formatted_data.html_safe
  #form_controls
    = f.submit t("Save")
    = f.submit t("Save and continue")
    = f.submit t("Preview"), :id => :preview_button
    = f.submit t("Cancel")
