= content_for :title, "MeuteWiki"

= content_for :sidebar_left do
  = menu_head t( :wiki_menu, :scope => :meutewiki )
  %ul.menu
    = menu_item t(:index, :scope => :meutewiki), meutewiki_index_path
    = menu_item t(:show, :scope => :meutewiki), meutewiki_show_page_path(@wiki_page.name)
    = menu_item t(:edit, :scope => :meutewiki), meutewiki_edit_page_path(@wiki_page.name)
    = menu_item t(:history, :scope => :meutewiki), meutewiki_page_history_path(@wiki_page.name)
    = menu_item t(:upload_file, :scope => :meteuwiki), new_file_asset_path

= form_for :wiki_page,
    :url => { :controller => :meutewiki, :action => "update", :name => @wiki_page.name },
    :html => {}, :remote => true do |f|
  #page_content.preview
    = f.text_area :raw_data
    #preview_area
      - if @button == t("Preview")
        %h6= t "Preview"
        %hr
        = @wiki_page.formatted_data.html_safe
  #commit_message
    #commit_message_edit
      = label nil, t(:message, :scope => :meutewiki)
      = text_field nil, :message
    #commit_message_preview
      - if @button == t("Preview")
        %h6= t "Preview"
        %hr
        %div= "\"#{@commit_info[:name]}\" <#{@commit_info[:email]}>"
        %div= "#{@commit_info[:message]}"
  #form_controls
    = f.submit t("Save")
    = f.submit t("Save and continue")
    = f.submit t("Preview"), :id => :preview_button
    = f.submit t("Cancel")
