#email.text_input
  = f.label :email
  = f.email_field :email
#password.text_input
  = f.label :password, "New password"
  = f.password_field :password
#password_confirmation.text_input
  = f.label :password_confirmation, "Confirm new password"
  = f.password_field :password_confirmation
