#email.text_input
  = f.label :email
  = f.email_field :email, :rel => :popover, 'data-content' => t(:pw_email, :scope => :hint), 'data-title' => t(:pw_email_title, :scope => :hint)
#password.text_input
  = f.label :password, "New password"
  = f.password_field :password
#password_confirmation.text_input
  = f.label :password_confirmation, "Confirm new password"
  = f.password_field :password_confirmation
