#email
  = f.label :email
  = f.email_field :email
#password
  = f.label :password, "New password"
  = f.password_field :password
#password_confirmation
  = f.label :password_confirmation, "Confirm new password"
  = f.password_field :password_confirmation
