= content_for :sidebar_left do
  = menu_head t(:profile, :scope => :user_form)
  %ul#nav_profile.menu.nav.nav-pills.nav-stacked
    = menu_item t(:password, :scope => :user_form), '#password_fields'
    = menu_item t(:git_config, :scope => :user_form), '#git_config_fields'
    = menu_item t(:posix_settings, :scope => :user_form), '#posix_settings_fields'

#page_content
  - unless @user.nil?
    = form_for @user do |f|
      #password_fields
        = render :partial => 'password_fields', :locals => { :f => f }
      #git_config_fields
        = f.fields_for :git_config do |git_config|
          =render :partial => '/git_configs/fields', :locals => { :f => git_config }
      #posix_settings_fields
        =render :partial => 'posix_fields', :locals => { :f => f }
      #buttons
        = f.submit
