<!DOCTYPE html>
<html>
<head>
  <title>Anduin<%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="page">
      <%= render :partial => 'share/navigation' %>
      <div id="content-outer">
        <%= render :partial => 'share/sidebars' %>
        <%= yield %>
      </div>
      <%= render :partial => 'share/footer' %>
    </div>
</body>
</html>
